<ion-view view-title="Dashboard">
  <!--<ion-content>
    <h2>Welcome to Ionic</h2>
    <center>
      <div class="row">
        <div class="col col-100">Forest Fire</div>
      </div>
    </center>
    <center>
      <div class="row">
        <div class="col col-100">200 Ft away from Northern</div>
      </div>
    </center>
    <center>
      <button class="button button-assertive">
        Ask family if they are safe
      </button>
    </center>
    <center>
      <div class="row">
        <div class="col col-100"><b>Danger Level </b><small>Caution</small> by The Official Fire Department
        <div class="progress-bar"><p align="center">50%</p></div>
      </div>
    </center>
    <div class="row">
      <div class="col col-75"><b>Actionable</b> by The Official Fire Department
        <p>Extreme Winter Drought Conditions have Increased Wildfire Danger Statewide. Protect your property by creating and maintaining defensible space now.</p>
      </div>
    </div>
  </ion-content>-->
  <ion-content scroll="true">
    Hello<br>
    Hello<br>
    Hello<br>
    Hello
    <!--<ul type="1"><b>Checklist</b>
      <li>Remove all dead plants, grass and weeds (vegetation).</li>
      <li>Remove dead or dry leaves and pine needles from your yard, roof and gutters.</li>
      <li>Trim trees regularly to keep branches a minimum of 10 feet from other trees.</li>
      <li>Remove branches that hang over your roof and keep dead branches 10 feet away.</li>
      <li>Relocate wood piles into Zone 2.</li>
      <li>Remove or prune flammable plants and shrubs near windows.</li>
      <li>Create a separation between trees, shrubs and items that could catch fire.</li>
    </ul>-->
  </ion-content>
  <ion-content scroll="true">
    Hello<br>
    Hello<br>
    Hello<br>
    Hello
    <!--<ul type="1"><b>Checklist</b>
      <li>Remove all dead plants, grass and weeds (vegetation).</li>
      <li>Remove dead or dry leaves and pine needles from your yard, roof and gutters.</li>
      <li>Trim trees regularly to keep branches a minimum of 10 feet from other trees.</li>
      <li>Remove branches that hang over your roof and keep dead branches 10 feet away.</li>
      <li>Relocate wood piles into Zone 2.</li>
      <li>Remove or prune flammable plants and shrubs near windows.</li>
      <li>Create a separation between trees, shrubs and items that could catch fire.</li>
    </ul>-->
  </ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
    <div style="width:80%;">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
      </div>
    </div>
  </center>
  
</ion-view>
